thead {
  font-weight: bold;
}

.sprint-col {
  background-color: #efefef;
  border: 20px solid #fff;
}

.sprint-task {
  background-color: #fff;
  margin: 10px 0;
  padding: 5px;
}

.yuriko-task::after {
  content: '🕷';
}
