#result {
  font-size: 72px;
}

#result-container {
  display: none;
}

#result-container.show {
  display: block;
}

#stanford, #away {
  background-size: cover;
  height: 500px;
  opacity: 0.3;
}

#stanford {
  background-image: url(/img/stanfordfootball.jpg);
}

#away {
  background-image: url(/img/san_diego_aztecs.jpg);
}

.masthead-nav > li > a {
  color: #000;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000;
  border-bottom-color: #000;
}

#wheel-container {
  text-align: center;
}

#wheel {
  background-color: #fff;
  border: 5px solid #000;
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 250px;
  transform: rotate(0deg);
  transition: transform 10s;
  transition-timing-function: ease;
  -webkit-transition: all 10s;
  -webkit-transition-timing-function: ease;
}

.wheel-item {
  font-size: 24px;
  position: absolute;
}

#wheel-borderlands {
  top: 50px;
  left: 180px;
}

#wheel-kfc {
  top: 230px;
  right: -20px;
  transform: rotate(90deg);
}

#wheel-ajlands {
  bottom: 50px;
  left: 200px;
  transform: rotate(180deg);
}

#wheel-tuscany {
  top: 250px;
  left: 20px;
  transform: rotate(-90deg);
}

.main-content {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 20px;
}

.wheel-check-container {
  text-align: right;
}

.background-square {
  float: left;
}
